# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
eggs/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Python specific
*.pyc
*.pyo
*.pyd
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE-specific
.idea/
.vscode/

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.out
*.pyc
*.pyo

# Database
*.db

# macOS
.DS_Store

# Windows
Thumbs.db

